.form{
   border: 1px #ddd solid;
    border-radius: 8px;
    margin-bottom: 40px !important;
}
h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    padding-bottom: 4px
}
label {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 12px;
}
.form-item{
    margin-bottom: 10px;
}
.a-button-inner {
    border-color: #FCD200;
    border-radius: 7px;
    background: 0 0;
    box-shadow: none;
    color: black;
}
.a-button-inner input {
    
    background: #FFD814;
    border-color: #FCD200;
    border-radius: 7px;
}