
<section class="w-100 py-4" *ngIf="productsData.length > 0">
    <h2 class="text-center"> ALL Products</h2>
    <div class="row g-4 align-content-center justify-content-center">
        <div *ngFor="let product of productsData | paginate: { id: 'productPaginate',
        itemsPerPage: pageSize,
        currentPage: currentPage,
        totalItems: total }" class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="product p-2">
          <div [routerLink]="['/details', product._id]" class="text-center" role="button">
            <img class="w-100" [src]="product.imageCover" [title]="product.title" [alt]="product.title">
            <h3 class="small">{{product.title | cut:3}}</h3>
            <h4 class="h6 text-main">{{product.category.name}}</h4>
           <div class="d-flex align-items-center justify-content-between">
           <span>{{product.price | currency:'EGP'}}</span>
          <span>
          <i class="fas fa-star rating-color"></i>{{product.ratingsAverage}}</span>
          </div>
          </div>
          <footer ><button (click)="addProduct(product._id)" class="btn-main text-center w-100">add to cart</button></footer>
            </div>
        </div>
    </div>
<!-- Pagination -->
<div class="d-flex align-item-center justify-content-center mt-4">
    <pagination-controls  id="productPaginate"
    (pageChange)="pageChanged($event)"
    (pageBoundsCorrection)="pageChanged($event)"
    [maxSize]="9"
    [directionLinks]="true"
    [autoHide]="true"
    [responsive]="true"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page">
</pagination-controls>
</div>
</section>

