<section class="w-75 mx-auto rounded p-3 mb-3 bg-main-light mt-3 text-white">
    <h1>check Out Session</h1>
    <form [formGroup]="orderForm" (ngSubmit)="handelForm()">
    <div class="form-item">
        <label for="details">details</label>
        <input class="form-control" type="text" name="details" id="details" formControlName="details">
    </div>
    <div class="form-item">
        <label for="phone">phone</label>
        <input class="form-control" type="text" name="phone" id="phone" formControlName="phone">
    </div>
    <div class="form-item">
        <label for="city">city</label>
        <input class="form-control" type="text" name="city" id="city" formControlName="city">
    </div>
    <button  class="btn-main mt-2">check Out</button>
    </form> 
</section>