
<nav class="navbar navbar-expand-md navbar-light ">
    <div class="container-fluid text-white">
       <div class="nav-left d-flex ">
        <a class="navbar-brand text-white nav-link" routerLink=""> <i class="fa-solid fa-cart-flatbed-suitcase"></i> fresh cart </a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/home">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/cart">cart</a>
                </li>
           
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/products">Products</a>
                </li>
           
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/categories">Categories</a>
                </li>
           
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/brands">brands</a>
                </li>
            </ul>
        </div>
       </div>

       <div class="nav-right">
   <ul class="navbar-nav me-auto mt-2 mt-lg-0 ">
    <li class="nav-item">
        <a class="nav-link text-white"  routerLink="/login">login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" routerLink="/register">register</a>
    </li>
   </ul>
       </div>
    </div>
</nav> 

