<section *ngIf="step1" class="w-75 mx-auto rounded bg-main-light p-3 shadow mt-4 text-white g-3">
<form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
    <label for="email">Email</label>
    <input formControlName="email" type="email" name="email" id="email" class="form-control">
    <button class="btn-main w-100 mt-3">forgot password</button>
    <p  *ngif="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0"></p>
</form>
</section>

<section *ngIf="step2"  class="w-75 mx-auto rounded bg-main-light p-3 shadow mt-4 text-white g-3">
<form [formGroup]="resetCode" (ngSubmit)="resetCod()">
    <label for="resetCode">Reset Code</label>
    <input formControlName="resetCode" type="text" name="resetCode" id="resetCode" class="form-control">
    <button class="btn-main w-100 mt-3">Reset Code</button>
    <p  *ngif="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0"></p>

</form>
</section>

<section *ngIf="step3" class="w-75 mx-auto rounded bg-main-light p-3 shadow mt-4 text-white g-3">
    <form [formGroup]="resetPassword" (ngSubmit)="resetPass()">
        <label for="newPassword">Reset Password</label>
        <input formControlName="newPassword" type="text" name="resetCode" id="newPassword" class="form-control">
        <button class="btn-main w-100 mt-3">Reset Password</button>
        <p  *ngif="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0"></p>

    </form>
    </section>